<!DOCTYPE html>
<html>

<head>
  <title>
    个人中心
  </title>
  <% include ../common/head %>
</head>

<body>
  <header>
    <% include ../common/header %>
  </header>
  <% include ../common/usercenter %>
  <div class="uict-content2 uict-usercontainer feedback">
        <textarea name="" id="" cols="30" rows="10" placeholder="请输入您的反馈内容"></textarea>
        <p class="submit">提交反馈意见</p>
  </div>
  <footer>
    <% include ../common/footer %>
  </footer>
</body>
<script>

</script>
</html>