<!DOCTYPE html>
<html>

<head>
  <title>
    个人中心
  </title>
  <% include ../common/head %>
</head>

<body>
  <header>
    <% include ../common/header %>
  </header>
  <% include ../common/usercenter %>
  <div class="uict-content2 uict-usercontainer mycomment">
     <ul>
             <li>
                     <div class="comment-title"><span>培训很棒,实用性很强</span><span>2017-11-23</span></div>
                     <div class="sytem">系统回复: <span>谢谢你的支持</span></div>
                     <div class="comment-content">
                             <img src="/images/m.png" alt="">
                             <span>活动名称</span>
                     </div>
             </li>
     </ul>
  </div>
  <footer>
    <% include ../common/footer %>
  </footer>
</body>
<script>

</script>
</html>