<!DOCTYPE html>
<html>

<%
   var activityId=query.id;

%>

  <head>
    <title>
      作品征集
    </title>
    <% include ../common/head %>
  </head>

  <body>
    <header>
      <% include ../common/header %>
    </header>

    <div class="uict-content2">
      <p>
        1.本活动完全免费，在产品试用时不收取任何费用。每个用户限参与一次； 2.参与活动用户自动订阅相关信息，所有短信接收免费； 3.未经本公司允许，不得将从本站获取的信息内容以任何形式提供给第三方； 4.试用结束后，可联系工作人员购买终身授权，价格为3980元；
        5.本公司保留本活动的最终解释权。
      </p>
    </div>
    <footer>
      <% include ../common/footer %>
    </footer>
  </body>
  <script>


  </script>

</html>