<!DOCTYPE html>
<html>

<head>
        <title>
                湖南省文化馆
        </title>
        <% include ./common/head %>
</head>

<body>
        <header>
                <% include ./common/header %>
        </header>
        <div class="place-space"></div>
        <div class="g-content error-400">
                <img src="/images/error.jpg" alt="">
                <p>您访问的页面不存在</p>
                <a href="/">返回首页</a>
        </div>
        <div class="place-space"></div>
        <footer>
                <% include ./common/footerindex %>
        </footer>
</body>
<script>
</script>

</html>