<!DOCTYPE html>
<html>

<head>
<title>
        湖南省文化馆
</title>
<% include ./common/head %>        
</head>

<body>
<header>
        <% include ./common/header %>
</header>
 <div class='error-400' style='text-align:center;' >
      <p style='padding-top:100px;font-size:30px;color:#f8868e'>o(︶︿︶)o</p>
      <p style='font-size:30px;color:#666'>额~服务器报错了</p>
      <a href="/">返回首页</a>
 </div>
 <div class="place-space"></div>
<footer>
        <% include ./common/footerindex %>
</footer>
</body>
<script>
  
</script>


</html>