<div class="myModal" style='display:none'>
  <div class="modal-content-wrapper" id='commentModal'>
    
      <%-include('../common/comments',{ comments: comments, type:'Information',objId:data.id, pagingUrl:'/issue/detail/' + data.id+'?'}) %>
       
  </div>
</div>

<script>
  
</script>