<div class="cultureSever">
    <div class="col-4">
        <a href="/activity" class="link <% if(type === 'activity' ){ %>cur<% } %>">
            <div class="img-wrap">
                <img src="/images/culture-s-act.png">
            </div>
            <div class="link-txt">
                <h2>活动预约</h2>
                <p>huo dong yu yue</p>
            </div>
        </a>
    </div>
    <div class="col-4">
        <a href="/venues" class="link <% if(type === 'venues' ){ %>cur<% } %>">
            <div class="img-wrap">
                <img src="/images/culture-s-venue.png">
            </div>
            <div class="link-txt">
                <h2>场馆预订</h2>
                <p>chang guan yu ding</p>
            </div>
        </a>
    </div>
    <div class="col-4">
        <a href="/train" class="link <% if(type === 'train' ){ %>cur<% } %>">
            <div class="img-wrap">
                <img src="/images/culture-s-train.png">
            </div>
            <div class="link-txt">
                <h2>培训报名</h2>
                <p>pei xun bao ming</p>
            </div>
        </a>
    </div>
    <div class="col-4">
        <a href="/cultural" class="link <% if(type === 'cultural' ){ %>cur<% } %>">
            <div class="img-wrap">
                <img src="/images/culture-s-whps.png">
            </div>
            <div class="link-txt">
                <h2>文化配送</h2>
                <p>wen hua pei song</p>
            </div>
        </a>
    </div>
</div>