<footer class="m-footer hidden-xs">
    <div class="footer g-content">
        <div class="content">
            <img class="footlogo" src="/images/logo2.png" alt="LOGO" />
            <a href='http://bszs.conac.cn/sitename?method=show&id=3C0DCDF9DAB53F14E053012819AC23C7' target='_blank'>
                <img class="uict-footlogo" style='width:50px;height:60px' src="/images/blue.png" alt="事业单位" />
            </a>
            <p>
                <span>办公室：0731-85286177</span>
                <span>传达室：85286150</span>
            </p>
            <p>
                <span>邮编：410004</span>
                <span>&nbsp;&nbsp;地址：长沙市天心区杉木冲西路69号</span>
            </p>
            <p>© CopyRight 2005-2009, WWW.HNQYG.COM, Inc. All Rights Reserved 备案许可证：湘ICP备14009802号 技术支持：湖南创图</p>
        </div>
        <img class="qrcode" src="/images/hnqrcode.jpg" alt="二维码" />
    </div>
    <%-include('../login/loginmodal.ejs') %>
</footer>
<script src="/javascripts/libs/kkpager.js"></script>
<script src="/javascripts/libs/jquery.colorbox-min.js"></script>
<script src="/javascripts/libs/validate/jquery.validate.min.js"></script>
<script src="/javascripts/libs/validate/additional-methods.min.js"></script>
<script src="/javascripts/libs/validate/messages_zh.js"></script>
<script src="/javascripts/commons/custom-validate.js"></script>