<!DOCTYPE html>
<html>

<head>
    <title>
        馆务公开
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/about.min.css' />
</head>

<body>
    <header>
        <% include ../common/header %>
    </header>

    <div class="g-content about">
        <div class="left-content">
            <% include ./left-menu.ejs %>
        </div>
        <div class="right-content">
            <div class="right-head">馆务概况</div>
            <div class="content">
                湖南省文化馆（原湖南省群众艺术馆）成立于1956年7月，隶属于湖南省文化和旅游厅，是组织指导群众开展文化活动的公益性事业单位。新馆坐落于新湖南省政府旁长沙市天心区生态新城，于2008年投入使用。总投资1.63亿元，占地面积50.5亩，建筑面积19963.65平方米，与省科技馆、省地质博物馆与省青少年活动中心形成“三馆一中心”文化区域格局。建有设施设备先进的音乐厅和多功能剧场、数字文化体验厅、非物质文化遗产保护展示厅、书画展览厅、多功能会议室、录音棚，室外群众文化活动广场和健身场所，室内设有舞蹈练功房、音乐教室、排练厅、琴房、报告厅、阅览休闲室、国学教室等，布局合理，分区清晰，设施齐全，功能完善。馆舍典雅大气，环境整洁优美，充满了浓郁的文化气息（整体装饰工程荣获“全国装饰奖”，主体设计获湖南省建筑“芙蓉奖”），已成为新省政府周边亮丽的、标志性文化景观。连续三次被文化部授予“国家一级馆”称号。
                <img src="/images/gwgk.jpg">
            </div>
            <div class="content ">
                作为省级群众文化事业单位，主要职能是组织与指导全省群众文化活动，为广大人民群众提供音乐、舞蹈、美术、书法、摄影、戏剧、曲艺、文学等艺术门类的培训、辅导、创作与理论研究，开展非物质文化遗产保护与传承等工作。现机构设置为：艺术活动部、创作调研部、艺术培训部、美术书法摄影部、非物质文化遗产保护中心办公室、数字化部、杂志社、剧场管理部、财务部、党群部、办公室、后勤保障部等12个部门。
            </div>
            <div class="content">
                艺术门类齐全、人才荟萃，拥有一批在社会颇有声望的艺术家和艺术人才。省文联各协会（如舞协、曲协、摄影家协会等），均有我馆干部担任主席、副主席等职务。现有编制81人，在岗职工77人，离退休人员55人。设5个党支部，中共党员72人，在岗职工中有中级以上职称53人，其中高级职称（含正高7人）21人，硕士研究生10人，博士研究生1人。
            </div>
            <div class="content">
                多年来，秉持“公益办馆、专业立馆、人才兴馆”的方针，服务群众，奉献社会，传承、弘扬中华民族先进文化，大力推进我省群文事业的繁荣与发展。曾成功举办了北京奥运·奥林匹克文化公园“中国故事”祥云小屋展、澳门·内地（湖南省）春节习俗展、全国少数民族非物质文化遗产项目调演“潇湘风情•湖南专场”、上海世博会“湖南周”展示展演以及湖南“湘人湘歌”大赛、三湘蒲公英少儿音乐舞蹈大赛、“湖南农民文艺会演”、“欢乐潇湘”大型群众文艺汇演活动、“雅韵三湘”高雅艺术普及计划等全国性以及省内外的大型群众文化活动。
            </div>
            <div class="content">
                广泛组织开展群众文艺创作和各种文化艺术活动，推动基层群众文化建设。在开展全省群众文化演展活动、参加全国及全省性群文赛事、社会辅导、理论研讨、调查研究、对外交流、出版发行方面成绩斐然，硕果累累。尤其是近十年来我们组织的活动在全国性的音乐、美术、曲艺、舞蹈和民间工艺美术博览比赛中获得奖项不计其数。组织和参与的国家社科基金艺术学项目、文化部课题和省社科规划课题均结项，有的项目、课题获得优秀成果。
            </div>
            <div class="content ">
                积极探索群众文化发展规律，全力推进免费开放工作，完善公共文化服务体系。举办各种类型的培训班，培训班、创作班、讲习班，为社会培养、输送了大量的优秀文艺人才。充分利用现有场地与设施，在馆内开展各种公益演出、展览、讲座、游艺和免费电影活动，先后提供40多个免费文化服务项目，为社会公众提供各种艺术享受。创建了“湖南省原创广场舞”、“声乐大课堂”、“湘音·乡韵”、“曲艺进校园”、“文艺送春风·慰问农民工” 文艺演出、“军歌嘹亮”慰问部队演出等十余个广大群众喜闻乐见的惠民品牌，满足了广大群众的精神文化需求，在全省甚至全国都产生了较大的影响力。
            </div>
            <div class="content">
                全力推进非物质文化遗产保护工作，建立和完善了四级名录保护体系，实现了非物质文化遗产的分级保护，迄止2018年，我省已有118个非遗项目列入国家级名录，324个项目列入省级名录，有国家级项目代表性传承人121人，省级代表性传承人305人。近年来，我馆组织参加文化部在国内多省市乃至海外沙特、澳门、香港、台湾等地主办的各种非物质文化遗产展览展演30余次；每年“文化遗产日” 及元宵、端午、中秋等传统节日，我馆均在全省各地组织指导举办各种民族民间传统庆祝活动，大力宣传和展示了湖南多姿多彩的非物质文化遗产及其保护工作成果。
            </div>
            <div class="content">
                公开出版或内部编印文艺期刊、文艺创作辅导资料、文艺演唱材料十余种。其中全国公开发行的大型刊物《文艺生活 艺术中国》已办成国内业内精品月刊，列入了中国知网的核心期刊，入选2017数字阅读影响力期刊海外排行榜第25名，也是艺术类刊物的第1名。《湖南公共文化》被省新闻出版局评为“湖南省第二届优秀内刊资料”，同时被湖南省委选为信息来源期刊，成为入选的两份文化类刊物之一。不断满足广大人民群众精神文化需求，不断提升群众满意度，让群众乐享文化发展成果。
            </div>

        </div>
        <footer>
            <% include ../common/footer %>
        </footer>
</body>
<script>

</script>
<style>
 .content{
     padding-top:2px !important;
     padding-bottom:2px !important;
 }
</style>
</html>