
<!DOCTYPE html>
<html>

<head>
    <title>
        网站地图
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/about.min.css'/>
</head>

<body>
<header>
    <% include ../common/header %>
</header>

<div class="g-content about">
    <div class="left-content">
            <% include ./left-menu.ejs %>
    </div>
    <div class="right-content">
          <div class="right-head">网站地图</div>
          <div class="content-title">首页</div>
           <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/about/gwgk">馆务概况</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/about/zzjg">组织机构</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/about/yjfk">意见反馈</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/about/wzdt">网站地图</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/about/whgjq">馆站导航</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/about/contactUs">联系我们</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/search?srchkey=搜索">搜索</a>
            </div>
            <div class="content-title">文化资讯</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/issue">文化资讯</a>
            </div>
            <div class="content-title">文化非遗</div>
            <div class="content">   
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/heritage">非遗展厅</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/heritage/heritagePrj">非遗名录</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/heritage/heritageMap">非遗地图</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/heritage/heritageNews">非遗资讯</a>
            </div>
            <div class="content-title">精品资源</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/vod">直播点播</a>
            </div>
            <div class="content-title">数字展览</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/exhibition">数字展览</a>
            </div>
            <div class="content-title">志愿者服务</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/volunteer">志愿者活动及报名</a>
            </div>
            <div class="content-title">文化服务</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/activity">活动预约</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/venues">场馆预定</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/train">培训报名</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/cultural">文化配送</a>
            </div>
            
            <div class="content-title">文艺团队</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/team">文艺团队</a>
            </div>
            <div class="content-title">文化品牌</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/brand">文化品牌</a>
            </div>
            <div class="content-title">作品征集</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/collect">线上作品征集</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/collect/offlineAct">线下活动报名</a>
            </div>
            <div class="content-title">湖南省艺术摄影学会</div>
            <div class="content">
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/photographic/xhjj">学会简介</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/photographic/gzzd">规章制度</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/photographic/zzjg">组织机构</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/photographic/hyfw">会员服务</a>
                <a style="text-decoration: underline;color: blue; margin-right: 10px" href="/photographic/contactUs">联系学会</a>
            </div>
             
</div></div>
<footer>
    <% include ../common/footer %>
</footer>
</body>
<script>
  
  </script>
  <style>
  .nav_link{
      text-decoration: underline
  }
  </style>

</html>