
<!DOCTYPE html>
<html>

<head>
    <title>
        组织机构
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/about.min.css'/>
</head>

<body>
<header>
    <% include ../common/header %>
</header>

<div class="g-content about">
    <div class="left-content">
            <% include ./left-menu.ejs %>
    </div>
    <div class="right-content">
          <div class="right-head">组织机构</div>
          <div class="content-title">馆领导组成</div>
           <div class="content">
            实行法定代表人（馆长）责任制，副馆长分工负责制，馆长对全馆工作向省文化和旅游厅和厅党组负责，副馆长对自己分管的部门和工作向馆长负责，全馆重大决策由党委会议或党政联席会议集体研究决定。
            </div>
           
           <div class="content-title">各部门职责</div>
           <div class="content">
                <b>艺术活动部：</b>负责健全、完善公共文化服务项目；负责策划、组织、实施全省群众文化活动，免费开放和文化志愿者工作；开展、承担全省重大文化艺术活动的策划组织协调工作；开展对外艺术交流、组织各类慰问和公益性演出活动；在全省树立公共文化活动品牌；负责群众文化（艺术）社团组织管理和建设。

                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>创作调研部（群文学会）：</b>负责指导、推动全省群众文艺创作、公共文化理论研究和调研工作；负责组织音乐、舞蹈、戏剧、曲艺创作工作，提高创作水平；负责艺术专家委员会的组建及创作基金的设立与评审；负责开展公共文化服务体系建设重大课题工作；负责专业项目申报与统筹管理；负责群众文化学会的日常工作；负责《群论》、《公共文化》的组稿、编辑、印刷、发行工作；负责编撰文化志工作。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>艺术培训部：</b>负责全省业务干部和艺术团队的培训；开展公益性辅导和社会艺术培训；建立服务基地和示范点；做好馆办团队的组织、辅导工作;在全省树立公共文化辅导培训品牌。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>美术摄影创研部：</b>负责策划、组织和实施全省群众美术、书法、摄影活动；负责规划、指导群众美术、书法、摄影作品创作；负责辅导具有示范性和导向性的省级业余美术、书法、摄影团队；举办美术、书法、摄影展览和开展有关学术活动及学术研究等相关工作；做好本馆展览厅的日常管理，开展对外艺术展览交流活动。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> 非物质文化遗产保护办公室：</b>负责全省非物质文化遗产保护工作的组织、协调与管理（包括组织非物质文化遗产展演展示展览活动，开展非物质文化遗产保护辅导培训、理论调研和宣传出版等工作）；负责非物质文化遗产资料库、数据库建设；负责非遗展厅的日常管理、免费开放及业务拓展等工作；负责非物质文化遗产保护网站的建设、管理与维护。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> 数字化部：</b>负责数字化文化馆建设的策划、实施；负责指导基层文化馆（站）数字化建设，开展信息化专业技术培训；负责宣传媒体与交流合作；负责全省群众文化活动信息的采集编辑、存储整理、审核发布；负责馆网站建设、管理和维护工作。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> 杂志社：</b>负责《文艺生活》的组稿、编辑、印刷、发行工作；负责文学艺术创作工作；负责对外联络、营销策划。 
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>剧场管理部：</b>负责音乐厅、多功能厅等场地设备设施的管理、运行和使用；组织策划演出活动和对外文化交流的有关工作；为公益性群众文化活动提供场地及优质服务。 
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 财务部：</b>负责全馆日常财务运行、核算工作，规范会计基础工作，建立健全各项财务制度；负责财务预、决算工作，准确、按时向馆领导提供财务数据，确定开支范围，严格审批制度。加强资金管理，合理调配资金，确保全馆资金正常运转；负责全馆财务的管理，加强对各部门的财务监督；负责职工住房公积金、社会保险的办理及有关证件的年检工作。负责政府采购计划申报，协助办理政府采购审批手续。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> 党群部：</b>负责基层党组织建设和纪律监察、民主党派、老干、计划生育、共青团及关心下一代工作；负责督促、协调、落实党委的指示、决定；完成党建、纪检监察各项工作任务；协助做好工会工作。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>办公室（社会艺术水平考级办公室）：</b>负责对外联络与接待、文秘、人事、档案工作及车辆管理；负责目标管理和绩效考核工作；负责各种规章制度的起草和监督执行；负责督促、协调、落实领导班子的指示、决定、对工作部署落实情况监督、反馈；提供法律咨询与法制服务，修改、审核各类合同与协议，为单位的重大决策提供法律依据和意见，办理与单位相关的各类纠纷、诉讼、赔偿、公证等事宜。负责全省社会艺术水平考级组织实施工作。
                
                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> 后勤保障部：</b>负责后勤保障、综合治理、安全保卫、环境卫生等，负责馆内办公场所公共场地的管理；督促物业公司保障水、电、气、动力、空调的正常使用，做好设备的维修、维护工作；确保设备安全正常运行；负责职工食堂管理和浏正街宿舍的有关管理工作；负责固定资产登记、造册与管理，做好馆舍内场地管理及使用的登记（包括培训楼、排练厅、艺术长廊、音乐厅和多功能厅等）；负责设备、办公用品采购以及政府采购需求归集、采购
                
            </div>
             
</div></div>
<footer>
    <% include ../common/footer %>
</footer>
</body>
<script>
  
  </script>
<style>
 b{
    text-indent: 2em;
 }
</style>
</html>