@import '../base/variables';
@import '../base/mixins';
@import '../components/index';
.list-content {
    background-color: $container-bg;
    .content {
        @include make-grid-columns(4);
    }
    .card {
        .img-top {
            height: 186px;
        }
        .card-title {
            @extend %singleline-ellipsis;
        }
    }
}
.cultural-info-panel{
    > .notice{
        background-color:#fff;
        > .notice-title{
            padding:20px 40px;
            border-bottom:1px #f5f5f5 solid;
            font-size:18px;
        }
        >.notice-content{
            padding:20px 40px;
        }
    }

}