<!DOCTYPE html>
<html>

<head>
  <title>
    湖南省文化馆
  </title>
  <% include ../common/head %>
</head>

<body>
  <header>
    <% include ../common/header %>

  </header>

  <div class="volun-header">

  </div>
<div class='uict-content'>

     <!-- 定宽:圆形步骤条 -->
     <div class="m-voluninfo-step">
        <div class="step-content">
            <div class="step-item active">
                <span class="step-dot"></span>
                <p class="step-txt">编辑志愿者身份信息</p>
            </div>
            <div class="bar active"></div>
            <div class="step-item active">
                <span class="step-dot"></span>
                <p class="step-txt">信息提交完成</p>
            </div>
        </div>
    </div>
    <div class="place-space"></div>
  <!-- 定宽:圆形步骤条 -->
    <div class="succeed-tips">
      <i class=" iconfont icon-success succeed-icon"></i>
      <p>您已成功提交志愿者身份信息！</p>
      <p>现在可报名参加平台中各个志愿者招募活动，您可以：</p>
      <a href='/volunteer' class="to-link">返回志愿者首页</a>
    </div>

    </div>
  <footer>
    <% include ../common/footer %>
  </footer>
</body>
<script>

  

</script>

</html>