<!DOCTYPE html>
<html>

<head>
  <title>
    理事会成员
  </title>
  <% include ../common/head %>

</head>

<body>
  <header>
    <% include ../common/header %>
  </header>

  <div class="uict-content2">
      <ol class="breadcrumb">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="/academy">群文学会</a>
          </li>
          <li class="active">理事会成员</li>
      </ol>
      <div class='uict-academyheader'>
          <div class='header'>理事会成员</div>
          <div class='descrip' style="overflow:hidden">
              <div class="memebers">
                  <img src='/images/header01.jpg'>
                  <span>
                     张三
                  </span>
              </div>
              <div class="memebers">
                  <img src='/images/7.png'>
                  <span>
                     李四
                  </span>
              </div>
          </div>
      </div>
  </div>
   
  <footer>
    <% include ../common/footer %>
  </footer>
</body>
<script>
  


</script>

</html>