<!DOCTYPE html>
<html>

<head>
  <title>
    学会概况
  </title>
  <% include ../common/head %>

</head>

<body>
  <header>
    <% include ../common/header %>
  </header>

  <div class="uict-content2">
      <ol class="breadcrumb">
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="/academy">群文学会</a>
        </li>
        <li class="active">学会概况</li>
      </ol>
      <div class='uict-academyheader'>
          <div class='header'>湖南省群文学会概况</div>
          <div class='descrip'> 湖南省群文学会成立于1985年，为省一级学术团体。工作上受湖南省社科联的领导，
            学会的主要工作是进行创新教育研究和实践。学会目前有团体会员105个，
            基本上来自高校和中小学，另有部分个人会员。学会2015年经评估被省民政厅授予3A级社会组织，2016年被授予全国社科联先进学会。</div>
      </div>
  </div>
   
  <footer>
    <% include ../common/footer %>
  </footer>
</body>
<script>
  


</script>

</html>