<!DOCTYPE html>
<html>

<head>
  <title>
    学会章程
  </title>
  <% include ../common/head %>

</head>

<body>
  <header>
    <% include ../common/header %>
  </header>

  <div class="uict-content2">
      <ol class="breadcrumb">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="/academy">群文学会</a>
          </li>
          <li class="active">学会章程</li>
      </ol>
      <div class='uict-academyheader'>
          <div class='header'> 第一章   总   则 </div>
          <div class='descrip'> 本团体的宗旨：团结广大档案工作者，认真贯彻党的基本路线，遵守国家宪法、法律、法规和国家政策，遵守社会道德风尚；坚持民主办会的原则，倡导科学、创新、求实、协作、自由、平等的精神；坚持理论联系实际的学风和“百花齐放，百家争鸣”的方针，
            充分发挥学会的桥梁和纽带作用，积极开展档案学术研究、学术交流和社会服务活动，为推动档案事业发展、建设中国特色社会主义服务</div>
          <div class='header'> 第二章   业务范围  </div>
          <div class='descrip'> 组织开展学术交流，促进档案工作和学科发展；弘扬科学精神，普及档案知识，提高社会档案意识；
              接受有关部门委托，组织会员和档案工作者参与国家、省及中国档案学会档案工作政策、法规、规划、标准的制定和决策的咨询、论证； </div>
      </div>
  </div>
   
  <footer>
    <% include ../common/footer %>
  </footer>
</body>
<script>
  


</script>

</html>