
<!DOCTYPE html>
<html>

<head>
    <title>
        关于学会
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/about.min.css'/>
</head>

<body>
<header>
    <% include ../common/header %>
</header>

<div class="g-content about">
    <div class="left-content">
            <% include ./left-menu.ejs %>
    </div>
    <div class="right-content">
          <div class="right-head">关于学会</div>
           <div class="content">
                湖南省艺术摄影学会是由湖南省文化和旅游厅主管、湖南省民政厅登记的由全省有志于推进摄影艺术创作、研究、教育、传播的摄影工作者自愿组成的非营利性的专业学术性社会团体。
    湖南省艺术摄影学会前身为1991年成立的湖南省群众文化学会的成员会员。2018年4月，湖南省文化厅党组会议决定成立湖南省艺术摄影学会，为湖南省文化厅主管、湖南省民政厅登记的一级社会团体。2018年7月6日，在长沙召开了湖南省艺术摄影学会第一次代表大会，选举产生了湖南省艺术摄影学会第一届主席、副主席。
     学会成立后，团结、组织全省艺术摄影工作者，坚持与时代同步，坚持以人民为中心，坚持以精品奉献人民，坚持用明德引领风尚，为时代画像，为时代立传，为时代明德。举办了2018年“乡愁湘韵·湖南省传统村落优秀摄影作品展览”、“新时代新湖南·纪念改革开放40周年湖南省优秀摄影作品展览”、“丝路国家青少年国际摄影竞赛湖南分赛区青少年摄影大赛”、“走进新时代——美丽开放幸福新湘西摄影赛”、“2018年魅力南县全国摄影大奖赛”、“状元故里义道华容 2019湖南•华容旅游摄影大赛”。组织开展了“到人民中去”湖南省艺术摄影家走进永兴、泸溪、华容等县摄影创作活动；组织摄影家到益阳市安化县东坪镇槎溪村开展了“为贫困户拍摄全家福、定格脱贫攻坚幸福瞬间”摄影基层行活动，到怀化市会同县高椅乡雪峰村开展了“我们的中国梦文化进万家•拍全家福送春联活动”；2018年，获全国第九届“群艺杯”摄影艺术展览优秀组织奖；2019年，组织作品参加第十二届中国艺术节全国优秀摄影作品展览取得好成绩。
               <img src="/images/gwgk.png">
            </div>
    </div>   
</div>
<footer>
    <% include ../common/footer %>
</footer>
</body>
<script>
  
  </script>

</html>