
<!DOCTYPE html>
<html>

<head>
    <title>
        规章制度
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/about.min.css'/>
</head>

<body>
<header>
    <% include ../common/header %>
</header>

<div class="g-content about">
    <div class="left-content">
            <% include ./left-menu.ejs %>
    </div>
    <div class="right-content">
          <div class="right-head">规章制度</div>
           <div class="content-title">第一章 总 则</div>
           <div class="content_list">
                第一条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本会名称：湖南省艺术摄影学会。英文名称为：Hunan ArtPhotography Society，缩写：HAPS。<br />
                <br />
                第二条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会由全省有志于推进摄影艺术创作、研究、教育、传播的摄影工作者自愿组成的非营利性的专业学术性社会团体。本学会是中国艺术摄影学会团体会员。<br />
                <br />
                第三条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会宗旨：遵守中华人民共和国宪法、法律、法规和国家政策；遵循文艺为人民服务，为社会主义服务的方向；坚持百花齐放，百家争鸣的方针；坚持与时代同步，坚持以人民为中心，坚持以精品奉献人民，坚持用明德引领风尚，为时代画像，为时代立传，为时代明德。积极开展摄影艺术创作、理论研究、学术交流、业务培训、专业展览和国际合作等方面的工作，促进群众摄影艺术事业的繁荣发展，为中华民族的伟大复兴，为实现“中国梦”贡献应有的力量。<br />
                <br />
                第四条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会接受业务主管单位湖南省文化厅和社团登记管理机关湖南省民政厅的业务指导和监督管理。<br />
                <br />
                第五条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会的住所：长沙市天心区杉木冲西路69号。<br />
                <br />
           </div>
           <div class="content-title">第二章   业务范围</div>
           <div class="content_list">
                第六条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会的业务范围:
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一) 举办各种形式的学术活动，深入开展艺术摄影理论研究；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二) 举办国际性、全国性、区域性的摄影大赛和展览；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三) 开展各类型的艺术摄影人才培养教育工作；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (四) 组织、指导群众性摄影创作活动；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (五) 组织并参加国内外及省市各艺术摄影团体间的摄影交流及创作活动；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (六) 编辑出版有关摄影文化的出版物，宣传品，建立全省摄影文化信息网络。
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (七) 对有突出创作研究成果或对本学会有特殊贡献者，按照本学会有关规定给予表彰、奖励或授予相应名衔。
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (八) 积极配合业务主管单位或领导部门开展各类文化艺术交流活动；
           </div>
            <div class="content-title">第三章    会员</div>
           <div class="content_list">
                第七条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会设单位会员和个人会员。<br /><br />
                第八条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 申请加入本学会的会员，必须具备下列条件：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一) 拥护本学会的章程；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二) 有加入本学会的意愿，积极参与本学会所举办的各项专业活动；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三) 申请加入本会者，必须年满16周岁，具有一定的摄影工作经历；有作品在本会举办的展览入选(详见湖南省艺术摄影学会入会细则)；从事摄影理论研究、教学、翻译和摄影组织领导工作有显著成果；从事摄影器材设计、研究人员有成就者；对发展摄影事业和摄影产业有突出贡献者。除摄影工作经历和年龄均必须具备外，其他条件凡符合其中一项均可提出申请。<br /><br />
                第九条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 会员入会程序是：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一) 提交入会申请书及相关材料纸质、电子文件 (入选证书、入选作品及代表作10寸6幅、理论文章等)；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二) 经主席团集体讨论通过；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三) 由学会秘书处发给会员证。<br /><br />
                第十条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 会员享有下列权利：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一)本学会的选举权、被选举权和表决权；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二)参加本学会的活动；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三)获得本学会服务的优先权；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (四)对本学会工作的批评建议权和监督权；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (五)入会自愿、退会自由；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (六) 会员的正当、合法权益应受本会的保护。<br /><br />
                第十一条<br />&nbsp;&nbsp;&nbsp;&nbsp;  会员履行下列义务：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(一)执行本学会的决议；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(二)维护本学会合法权益；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(三)完成本学会交办的工作；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(四)按规定交纳会费；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(五)向本学会反映情况，提供有关资料；<br /><br />
                第十二条<br />&nbsp;&nbsp;&nbsp;&nbsp;会员退会应书面通知本学会，并交回会员证。会员如果1年无故拒不缴纳会费或两年无故拒绝参加本学会指定活动的，视为自动退会。<br /><br />
                第十三条<br />&nbsp;&nbsp;&nbsp;&nbsp;会员如严重违反国家法律、法规或本章程致使损害本学会名誉的，经理事会表决通过，予以除名。
           </div>
           <div class="content-title">第四章  组织机构和负责人产生、罢免</div>
           <div class="content_list">
                第十四条 <br />&nbsp;&nbsp;&nbsp;&nbsp;   本学会的最高权力机构是会员代表大会，会员代表大会的职权是：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一)制定和修改章程；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二) 选举和罢免理事；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三)审议理事会的工作报告和财务报告；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (四) 制定和修改会费标准；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (五)决定终止事宜；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (六)决定其他重大事宜。<br /><br />
                第十五条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  会员代表大会须有2／3以上的会员代表出席方能召开，其决议须经到会会员代表半数以上表决通过方能生效。<br /><br />
                第十六条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 会员代表大会每届5年。因特殊情况需提前或延期换届的，须由理事会表决通过，报业务主管单位审查并经社团登记管理机关批准。但延期换届最长不超过1年。<br /><br />
                第十七条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 理事会是会员代表大会的执行机构，在闭会期间领导本学会开展日常工作，对会员代表大会负责。<br /><br />
                第十八条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  理事会的职权是：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一)执行会员代表大会的决议；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二)选举和罢免主席、副主席、秘书长；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三)筹备召开会员代表大会；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (四)向会员代表大会报告工作和财务状况；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (五)决定会员的吸收或除名；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (六)决定设立办事机构、分支机构、实体机构；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (七)决定副秘书长、各机构主要负责人的聘任；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (八)领导本学会各机构开展工作；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (九)制定内部管理制度；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (十)根据需要聘请名誉主席和顾问；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (十一)决定其他重大事项。<br /><br />
                第十九条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  理事会须有2／3以上理事出席方能召开，其决议须经到会理事2／3以上表决通过方能生效。<br /><br />
                第二十条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  理事会每年至少召开一次会议。情况特殊的，也可采用通讯形式召开。<br /><br />
                第二十一条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会设立主席团。主席团成员由理事会选举产生，在理事会闭会期间行使第十八条第一、 三、五、六、七、八、九、十项的职权，对理事会负责。<br /><br />
                第二十二条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  主席团须有2／3以上主席团成员出席方能召开，其决议须经到会人员2／3以上表决通过方能生效。<br /><br />
                第二十三条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  主席团至少半年召开一次会议。情况特殊的也可采用通讯形式召开。<br /><br />
                第二十四条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会的主席、副主席、秘书长必须具备下列条件：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一)坚持党的路线、方针、政策、政治素质好；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二)在本学会业务领域内有较大影响；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三)主席、副主席、秘书长最高任职年龄不超过65周岁，秘书长为专职；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (四)身体健康，能坚持正常工作；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (五)未受过剥夺政治权利的刑事处罚的；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (六)具有完全民事行为能力；
                第二十五条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会主席、副主席、秘书长如超过最高任职年龄的，须经理事会表决通过，报业务主管单位审查并社团登记管理机关批准同意后，方可任职。<br /><br />
                第二十六条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会主席、副主席、秘书长每届任期5年，任期最长不得超过两届。因特殊情况需延长任期的，须经会员代表大会2／3以上会员代表表决通过，报业务主管单位审查并经社团登记管理机关批准同意后方可任职。<br /><br />
                第二十七条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会主席担任法定代表人。本学会法定代表人不兼任其他团体的法定代表人。<br /><br />
                第二十八条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会主席行使下列职权：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一)召集和主持理事会、主席团会议；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二)检查会员代表大会、理事会、主席团会决议的落实情况；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三)代表本学会签署有关重要文件；<br /><br />
                第二十九条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会秘书长行使下列职权：
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (一)主持办事机构开展日常工作，实施年度工作计划；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (二)协调各分支机构、办事机构、实体机构开展工作；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (三)提名副秘书长以及各办事机构、分支机构、实体机构主要负责人，交理事会或常务理事会决定；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (四)决定办事机构、分支机构、实体机构专职工作人员的聘用；
                <br />&nbsp;&nbsp;&nbsp;&nbsp; (五)处理其他日常事务。
           </div>
           <div class="content-title">第五章    资产管理、使用原则</div>
           <div class="content_list">
                
                第三十条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会经费来源：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(一)会费；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(二)捐赠；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(三)政府资助；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(四)在核准的业务范围内开展活动或服务的收入；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(五)利息；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;(六)其他合法收入。<br /><br />
                第三十一条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会按照国家有关规定收取会员会费。<br /><br />
                第三十二条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会经费必须用于本章程规定的业务范围和事业发展，不得在会员中分配。<br /><br />
                第三十三条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会建立严格的财务管理制度，保证会计资料合法、真实、准确、完整。<br /><br />
                第三十四条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会配备具有专业资格的会计人员。会计不得兼任出纳。会计人员必须进行会计核算，实行会计监督。会计人员调动工作或离职时，必须与接管人员办清交接手续。<br /><br />
                第三十五条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会的资产管理必须执行国家规定的财务管理制度，接受会员代表大会和财政部门的监督。资产来源属于国家拨款或者社会捐赠、资助的，必须接受审计机关的监督，并将有关情况以适当方式向社会公布。<br /><br />
                第三十六条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会换届或更换法定代表人之前必须接受社团登记管理机关和业务主管单位组织的财务审计。<br /><br />
                第三十七条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会的资产，任何单位、个人不得侵占、私分和挪用。<br /><br />
                第三十八条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会专职工作人员的工资和保险、福利待遇，参照国家对事业单位的有关规定执行。<br /><br />
           </div>
           <div class="content-title">第六章    章程的修改程序</div>
           <div class="content_list">
                第三十九条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 对本学会章程的修改，须经理事会表决通过后报会员代表大会审议。 <br /> <br />
                第四十条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本学会修改的章程，须在会员代表大会通过后15日内，经业务主管单位审查同意，并报社团登记管理机关核准后生效。
           </div>
           <div class="content-title">第七章    终止程序及终止后的财产处理</div>
           <div class="content_list">
                第四十一条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会完成宗旨或自行解散或由于分立、合并等原因需要注销的，由理事会或主席团提出终止动议。<br /><br />
                第四十二条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会终止动议须经会员代表大会表决通过，并报业务主管单位审查同意。<br /><br />
                第四十三条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会终止前，须在业务主管单位及有关机关指导下成立清算组织，清理债权债务，处理善后事宜。清算期间，不开展清算以外的活动。<br /><br />
                第四十四条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会经社团登记管理机关办理注销登记手续后即为终止。<br /><br />
                第四十五条 <br />&nbsp;&nbsp;&nbsp;&nbsp;  本学会终止后的剩余财产，在业务主管单位和社团登记管理机关的监督下，按照国家有关规定，用于发展与本团体宗旨相关的事业。
           </div>
           <div class="content-title"> 第八章    附则</div>
           <div class="content_list">
                第四十六条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本章程经2018年7月6日第一次会员代表大会表决通过。<br /><br />
                第四十七条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本章程的解释权属本团体的理事会。<br /><br />
                第四十八条 <br />&nbsp;&nbsp;&nbsp;&nbsp; 本章程自社团登记管理机关核准之日起生效。
           </div>

           

</div>
</div>
<footer>
    <% include ../common/footer %>
</footer>
</body>
<script>
  
  </script>
  <style>
    .content_list{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    }
  
  </style>

</html>