
<!DOCTYPE html>
<html>

<head>
    <title>
        会员服务
    </title>
    <% include ../common/head %>
    <link rel='stylesheet' href='/styles/about.min.css'/>
</head>

<body>
<header>
    <% include ../common/header %>
</header>

<div class="g-content about">
    <div class="left-content">
            <% include ./left-menu.ejs %>
    </div>
    <div class="right-content">
          <div class="right-head">湖南省艺术摄影学会个人会员入会细则</div>
          <a href='/入会申请表.doc' style='float:right;cursor:pointer;color:blue;padding-top:10px'>点击下载会员入会申请表</a>
           <div class="content" style='margin-top:10px;'>
                根据2018年7月6日湖南省艺术摄影学会第一次代表大会通过的《湖南省艺术摄影学会章程》有关规定，“拥护本学会的章程，有加入本学会的意愿，积极参与本学会所举办的各项专业活动，具有一定的摄影工作经历，有作品在本会举办的展览入选，从事摄影理论研究、教学、翻译和摄影组织领导工作有显著成果，从事摄影器材设计、研究人员有成就者，对发展摄影事业和摄影产业有突出贡献者。凡符合其中一项者均可提出申请。”的规定，制定本细则。
            </div>
           <div class="content-title">第一条 申请人基本条件</div>
           <div class="content_list">
                凡自愿提出加入湖南省艺术摄影学会的申请人，需符合以下基本条件：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;1、年满十六周岁；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;2、中华人民共和国公民；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;3、拥护《湖南省艺术摄影学会章程》并提出申请；
           </div>
           <div class="content-title">第二条 申请人业绩条件</div>
           <div class="content_list">
                申请人业绩条件为积分制。积分达15分（含）以上者，由本人自愿提出入会申请，具体积分规定为：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;1、申请人摄影作品在由中共中央宣传部、文化和旅游部、中国文学艺术界联合会举办的全国性摄影展览中入选，每幅/组作品计15分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;2、申请人摄影作品在中华全国新闻工作者协会主办的“长江韬奋奖”（摄影类）入选，每幅/组作品计15分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;3、申请人摄影作品在由中国艺术摄影学会、中国摄影家协会主办的全国性摄影展览中入选，每幅/组作品计15分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;4、申请人摄影作品在省委宣传部、湖南省文化和旅游厅、湖南省文学艺术界联合会举办的全省性摄影展览中入选，，每幅/组作品计10分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;5、申请人摄影作品在湖南省摄影家协会主办的摄影展览中入选，自2018年7月起在湖南省艺术摄影学会主办的摄影展览中入选，每幅/组作品计8分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;6、申请人摄影作品在由国内公开发行的专业摄影类刊物主办的全国性摄影大赛中入选或入展，每幅/组作品计5分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;7、申请人摄影理论文章获国家级文艺理论、评论类奖项，每篇计15分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;8、申请人拥有独立著作权的公开出版的摄影作品集、理论著作、个人摄影作品展览，每项计15分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;8、申请人拥有独立著作权的论文在国内公开发行的专业刊物发表，每一篇计10分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;9、申请人拥有独立著作权的摄影作品在国内公开发行的专业刊物发表，每一幅计5分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;10、申请人从事群众摄影组织工作、专职摄影工作、摄影创作、摄影理论研究、摄影教学、图片编辑、图书出版等专业工作，具有副高（含）以上职称，一项计13分；具有中级（含）以上职称，连续工作5年（含），一项计8分；具有初级（含）以上职称，连续工作2年（含），一项计5分；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;11、2018年7月后，申请人参加湖南省艺术摄影学会举办的培训、创作等活动，每次计3分；
           </div>
           <div class="content-title"> 第三条 报送材料及申请程序</div>
           <div class="content_list">
                <br />&nbsp;&nbsp;&nbsp;&nbsp;1、申请人需保证提交的材料真实、有效、无异议；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;2、提交纸质材料：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）《入会申请表》纸质版一份，须有两位本会会员的推荐意见和所在市州艺术摄影学会或有关单位的审核推荐意见；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）申请人2寸的免冠标准证件照片2张。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;3、提交电子数据材料：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）<a href='/入会申请表.doc' style='cursor:pointer;color:blue;padding-top:10px'>《入会申请表》电子版</a>;
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）个人摄影作品10幅，jpg格式，不低于300dpi。作品将用于公益性展览、画册出版、媒体宣传等；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）不少于800字的创作体会一篇；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）分值证明材料、其他辅助材料；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）个人工作照、免冠标准证件照片数据文件。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;4、提交材料方式：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）各市州艺术摄影学会或市州文化馆统一报送，也可个人自行报送。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）报送电子版材料：发送邮件到ys85286132@qq.com，邮件标题须注明“市州+姓名+电话”。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）邮寄地址：长沙市天心区杉木冲西路69号 湖南省艺术摄影学会（省文化馆内）， 邮政编码：410004，联系人：陈琛  电话：0731-85286132。
           </div>
           <div class="content-title">第四条 会员资格审批程序</div>
           <div class="content_list">
                申请人业绩条件为积分制。积分达15分（含）以上者，由本人自愿提出入会申请，具体积分规定为：
                <br />&nbsp;&nbsp;&nbsp;&nbsp;1、湖南省艺术摄影学会每年6月、12月组织两次新会员的审批和发展工作；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;2、湖南省艺术摄影学会秘书处负责接受和初审入会申请材料，对材料不齐全的申请人，由申请人将材料准备齐全后再重新申报；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;3、湖南省艺术摄影学会主席团对申请人材料进行终审。
           </div>
           <div class="content-title">第五条 办理入会手续及费用缴纳</div>
           <div class="content_list">
            <br />&nbsp;&nbsp;&nbsp;&nbsp;1、申请人材料终审通过后，即通知申请人缴纳相关费用，办理会员证。
            <br />&nbsp;&nbsp;&nbsp;&nbsp;2、一次性缴纳费用260元。其中：
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）会费：200元/5年；
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）工本费60元（含制证、档案管理、融媒体宣传推广）
            <br />&nbsp;&nbsp;&nbsp;&nbsp;3、会员证自发放之日起，有效期5年。
            <br />&nbsp;&nbsp;&nbsp;&nbsp;4、会员须在会员证到期后3个月内办理届审，否则视为主动放弃会员资格。
           </div>
           <div class="content-title">第六条 会员权益</div>
           <div class="content_list">
                <br />&nbsp;&nbsp;&nbsp;&nbsp;1、优先享有参加本会举办的培训讲座、创作采风、对外交流、展览展示等活动的权利；
                <br />&nbsp;&nbsp;&nbsp;&nbsp;2、优先享有评优表彰、宣传推广、权益保护的权利。
           </div>
           <div class="content-title">第七条 附则</div>
           <div class="content_list">
                <br />&nbsp;&nbsp;&nbsp;&nbsp;1、本细则经湖南省艺术摄影学会理事会审议通过并生效，解释权归湖南省艺术摄影学会主席团。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;2、申请人联系方式变更，须及时通知本学会。
           </div>
           <div class="hyfw_footer">
                <div class="footer_name">湖南省艺术摄影学会</div>
                <div class="footer_date">2019年3月20日</div>
            </div>
</div>
    
<footer>
    <% include ../common/footer %>
</footer>
</body>
<script>
  
  </script>
  <style>
    .content_list{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    }
    .hyfw_footer{
        float:right
    }
  </style>

</html>