@import '../libs/px2rem.scss';
@import '../base/_variable';
.issue-container {
    .media-box {
        background-color: $color-fff;
        .media-bd {
            height: px2rem(160);
        }
        .media-object>img {
            width: px2rem(240);
            height: px2rem(160);
        }
        .media-object>img[lazy=loading] {
            width: px2rem(240);
            height: px2rem(160);
            margin: auto;
        }
    }
    .media-box+.media-box {
        margin-top: px2rem(20);
    }
}

.card-scan {
    font-size: $f-size10;
    color: #999;
    line-height: $card-title-lineheight;
    margin-top: px2rem(20);
    .iconNew-scan {
        font-size: px2rem(26);
        color: #999;
        position: relative;
        top: px2rem(4);
        margin-right: px2rem(8);
    }
}

// 资讯详情
.issue-detail {
    // min-height: 100vh;
    .content {
        background: $content-bg;
        padding: px2rem(30) px2rem(36) px2rem(36) px2rem(40);
        overflow: hidden;
        word-break: break-all;
        .news-title {
            font-size: $f-size18;
            font-weight: normal;
            font-stretch: normal;
            line-height: px2rem(48);
            letter-spacing: 1px;
            color: $color-333;
            text-align: center;
            margin: 0;
        }
        .news-desc {
            font-size: $f-size12;
            line-height: px2rem(48);
            letter-spacing: 1px;
            color: $color-999;
            text-align: center;
        }
    }
    .attachs {
        background: $content-bg;
        .attach {
            padding: px2rem(25) px2rem(30);
        }
        .attach-name {
            text-decoration: underline;
            color: $color-666;
        }
        .icon {
            font-size: $f-size;
            color: inherit;
        }
    }
}

.alt {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: px2rem(100);
    background: #333;
    div {
        height: 100%; // height:calc(100%-20);
    }
}

.photo-altas {
    $desc-height: 356;
    .alt-pic {
        display: flex;
        align-items: center;
        justify-content: center; // padding-bottom: px2rem($desc-height);
        img {
            display: block;
            width: 100%;
            height: auto;
            /*max-width: 100%;
            max-height: 100%;*/
            margin: 0 auto;
        }
    }
    .desc {
        margin-top: px2rem(-($desc-height));
        padding: px2rem(30);
        padding-bottom: px2rem(60);
        background-color: rgba(0, 0, 0, 0.46);
        color: white;
        height: px2rem($desc-height);
        overflow: scroll;
        width: 100%;
        .contents {
            font-size: px2rem(28);
            text-indent: 2em;
            text-align: justify;
            padding-top: px2rem(20)
        }
        .index {
            font-size: px2rem(36);
            .cur {
                font-size: px2rem(45);
                padding-right: 2px;
            }
        }
        .title {
            font-size: px2rem(32)
        }
    }
}

.comments-alt {
    position: fixed;
    bottom: 0;
    width: 100%;
    .alt-c {
        text-align: left;
        padding-left: 20px;
    }
}

