@import '../libs/px2rem.scss';
@import '../base/_variable';
// 登录
.login-container {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    background-color: $content-bg;
    .logo {
        position: relative;
        min-height: px2rem(300);
        padding-top: px2rem(115);
        padding-bottom: px2rem(106);
        margin: 0 auto;
        text-align: center;
        img {
            display: block;
            width: px2rem(300);
            margin: 0 auto;
        }
    }
    .sign-up {
        display: block;
        position: absolute;
        top: px2rem(45);
        right: px2rem(30);
        text-decoration: none;
        color: $color-red;
        font-size: px2rem(32);
    }
    .field-wrapper {
        margin: 0 $gutter 0;
    }
    .forget-pwd {
        color: $color-666;
        text-align: right;
        margin-bottom: px2rem(50);
        a {
            text-decoration: none;
        }
    }
    .login-sns-wrap {
        // 第三方登录
        margin-top: px2rem(100);
        .sns-title {
            display: flex;
            width: 100%;
            overflow: hidden;
            margin: 0 auto px2rem(15);
            height: px2rem(60);
            line-height: px2rem(60);
            &:after,
            &:before {
                position: relative;
                content: '';
                flex: 1;
                top: -(px2rem(60 / 2));
                border-bottom: 1px solid #e6e6e6;
            }
        }
        .login-sns {
            display: block;
            table-layout: fixed;
            text-align: center;
            overflow: hidden;
            .sns-item {
                position: relative;
                display: table-cell;
                text-align: center;
                width: 1%;
                text-decoration: none;
                color: $color-666;
            }
            .icon {
                font-size: px2rem(80);
                ~.sns-name {
                    display: block;
                }
            }
        }
    }
}

// 注册
.signup-container {
    position: relative; // padding: 0 $gutter 0;
    min-height: 100%;
    min-height: 100vh;
    background-color: $content-bg;
    .field-wrapper {
        width: 100%;
        padding: px2rem(100) $gutter 0;
    }
    .second {
        position: absolute;
        top: 0;
    }
    .captcha-btn {
        width: px2rem(200);
        height: px2rem(100);
        font-size: $f-size12;
        background-color: $color-red;
    }
    .mint-cell-title {
        width: px2rem(200);
    }
    .captcha {
        display: flex;
        margin: 0 18px 0 0;
        .form-field {
            margin: 0 18px;
        }
    }
    .operate-btns {
        margin-bottom: px2rem(30);
    }
    .hint {
        color: $color-999;
        margin-bottom: px2rem(30);
    }
    .first {
        opacity: 1;
        &.fade-vright-enter-active,
        &.fade-vright-leave-active {
            transition: all .5s;
        }
        &.fade-vright-enter,
        &.fade-vright-leave-active {
            transform: translate3d(-100%, 0, 0);
            opacity: 0;
        }
    }
    .second {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        &.fade-right-enter-active,
        &.fade-right-leave-active {
            transition: all .5s;
        }
        &.fade-right-enter,
        &.fade-right-leave-active {
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }
    }
}

// 微信登录后选择绑定方式
.bind-way {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    background-color: $content-bg;
    overflow: hidden;
    .tip {
        margin-top: px2rem(100);
        margin-bottom: px2rem(50);
        text-align: center;
        .icon {
            font-size: $f-size24;
            vertical-align: middle;
        }
    }
    .operate-btns {
        text-align: center;
        .btn {
            width: 40%;
        }
        .btn+.btn {
            margin-left: px2rem(20);
        }
    }
}

//用户注册协议
.mint-popup-agree {
    width: 100%;
    height: 100%;
    background-color: #fff;
    .agree {
        width: 100%;
        height: 100%;
        padding: px2rem(20) px2rem(20) px2rem(100) px2rem(20);
        overflow-x: auto;
        position: relative p {
            line-height: px2rem(62);
            font-size: px2rem(32);
            color: $color-666;
        }
    }
}

.protocol {
    margin-bottom: px2rem(30);
}