// 图片类型卡片，内容垂直居中
@mixin img-card-content-center($height) {
    position: relative;
    overflow: hidden;
    height: $height;
    &>img {
        display: block;
        max-width: 100%;
        width: 100%;
    }
    .center {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: table;
        color: $img-card-title-color;
        font-weight: normal;
        font-size: $card-title-fs;
        line-height: $card-title-lineheight;
        text-align: center;
        .box-content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
}