<!DOCTYPE html>
<html style="height:100%;">

<head>
    <title>
       账号绑定
    </title>
    <% include ../common/head %>
</head>

<body class="login-wrapper">
        <a class="brand" href="/">
            <div class="logo">
                <img src='/images/logo.png'>
            </div>
            <img src="/images/sgbj.png" alt="文化馆logo" />
        </a>
        <div class="login-content register-content">
            <div class="block-heading border">
                <h4 class="title">绑定已有账号</h4>
            </div>
            <form class="loginform" name="loginForm" id="loginform">
                <%- include('../common/identifycode.ejs',{mobile:'unbindMobile'})%>
                <div class="form-item item-gutter">
                    <i class="iconfont icon-key"></i>
                    <input type="text" id="vcode" name="vcode" class="u-form-control" placeholder="请输入验证码" maxlength="6" required>
                </div>
                <input type="submit"  class="btn" id="uict-loginbtn" value="绑定账号" >
              
                <span  href='#' class='btn outline' id="uict-login">直接登录</span>
            </form>
        </div>
</body>
<script src="/javascripts/libs/validate/jquery.validate.min.js"></script>
    <script src="/javascripts/libs/validate/additional-methods.min.js"></script>
    <script src="/javascripts/libs/validate/messages_zh.js"></script>
    <script src="/javascripts/commons/custom-validate.js"></script>
 <script>
    var wechartInfoObj=<%-JSON.stringify(data)%>
    // var wechartInfoObj= JSON.parse(wechartInfo);

$(document).ready(function(){
    $('#loginform').validate({
                errorElement: 'div',
                errorClass: 'v-error',
                rules: {
                    mobile: "phoneType", //  手机格式验证【/javascripts/commons/custom-validate.js】
                    phoneNum: "phoneType"
                },
                messages: {
                    mobile: {
                        required: "请输入您的手机号码"
                    },
                    vcode: {
                        required: "请输入手机验证码"
                    }
                },
                submitHandler: function() {
                  var  vcode= $('#vcode').val();
                  var  mobile= $('#mobile').val();
                    $.ajax({
                        url:'/login/bindAccount',
                        type:'post',
                        data:{
                            vcode:vcode,
                            mobile:mobile,
                            wechartInfo:wechartInfoObj
                        },
                        success:function(res){    
                          if(res.success){
                                assist.showMsg('绑定成功');
                               window.location.href='/user';
                          }
                          else{
                             assist.showMsg(res.data);
                          }
                        },
                        failure:function(res){
                            assist.showMsg('绑定失败');
                        }
                    })
                }
            });

   
 
     $('#uict-login').click(function(){
            $.ajax({
                url:'/login/wechartRegist',
                type:'post',
                data:wechartInfoObj,
                success:function(res){
                  if(res.data=='failure'){
                       assist.showMsg('登录失败');
                }
                  else {
                      window.location.href='/user'
                  }  
                },
                failure:function(res){ 
                    assist.showMsg('登录失败');
                }
            })


      })


    

})

 
</script>

</html>