<!DOCTYPE html>
<html style="height:100%;">

<head>
    <title>
        忘记密码
    </title>
    <% include ../common/head %>
</head>

<body class="login-wrapper">
    <a class="brand" href="/">
        <div class="logo">
            <img src='/images/logo.png'>
        </div>
        <img src="/images/sgbj.png" alt="文化馆logo" />
    </a>
    <div class="login-content register-content" id='pswdlogin'>
        <div class="block-heading border">
            <h4 class="title">忘记密码</h4>
        </div>
        <form id="vcodeform" class="loginform" name="vcodeform">
            <%- include('../common/identifycode.ejs',{mobile:'registedMobile'})%>
                <div class="form-item">
                    <i class="iconfont icon-key"></i>
                    <input type="text" id="vcode" name="vcode" class="u-form-control" placeholder="请输入验证码" maxlength="6" required>
                </div>
                <input type="submit" id="submitNext" style="display:none;">
                <button type="button" class="btn sub-btn" id="nextBtn">下一步</button>
        </form>
        <form id="resetForm" class="loginform" name="resetForm" style="display:none;">
            <div class="form-item item-gutter">
                <i class="iconfont icon-key"></i>
                <input type="password" id="password" name="password" class="u-form-control" placeholder="6-18位数字字母符号组合" required minlength="6"
                    maxlength="18">
            </div>
            <div class="form-item">
                <i class="iconfont icon-key"></i>
                <input type="password" id="passwordcfm" name="passwordcfm" class="u-form-control" placeholder="6-18位数字字母符号组合" required minlength="6"
                    maxlength="18">
            </div>
            <input type="submit" id="submit" style="display:none;">
            <button type="button" class="btn sub-btn" id="submitBtn">确定</button>
        </form>
    </div>
    <script src="/javascripts/libs/validate/jquery.validate.min.js"></script>
    <script src="/javascripts/libs/validate/additional-methods.min.js"></script>
    <script src="/javascripts/libs/validate/messages_zh.js"></script>
    <script src="/javascripts/commons/custom-validate.js"></script>
    <script>
        $(function() {
            // 发送验证码
            $('#nextBtn').on('click', function(event) {
                event.stopPropagation();
                event.preventDefault();
                $("#submitNext").click();
            });

            // 确认修改
            $('#submitBtn').on('click', function(event) {
                event.stopPropagation();
                event.preventDefault();
                $("#submit").click();
            });

            // 验证规则
            $('#vcodeform').validate({
                errorElement: 'div',
                errorClass: 'v-error',
                rules: {
                    mobile: "phoneType" //  手机格式验证【/javascripts/commons/custom-validate.js】
                },
                messages: {
                    mobile: {
                        required: "请输入你的手机号码"
                    },
                    vcode: {
                        required: "请输入验证码"
                    }
                },
                submitHandler: function(form) { // 验证成功后的处理
                    var data = {
                        mobile: $('#mobile').val(),
                        code: $('#vcode').val(),
                    };

                    $.ajax({
                        url: '/login/verifyCode',
                        type: 'post',
                        data: data,
                        success: function(res) {
                            if (res.success) {
                                $('#vcodeform').hide();
                                $('#resetForm').show();
                            } else {
                                assist.showMsg('验证码错误', 'error');
                            }
                        }
                    })
                }
            });

            $('#resetForm').validate({
                errorElement: 'div',
                errorClass: 'v-error',
                rules: {
                    password: "pwdType", //  密码格式验证【/javascripts/commons/custom-validate.js】
                    passwordcfm: {
                        equalTo: "#password"
                    }
                },
                messages: {
                    password: {
                        required: "请输入您的登录密码"
                    },
                    passwordcfm: {
                        equalTo: "两次密码输入不一致"
                    }
                },
                submitHandler: function() {
                    var pwd = $('#password').val();
                    var mobile = $('#mobile').val();
                    $.ajax({
                        url: '/login/pass/' + mobile,
                        type: 'post',
                        data: {
                            newPwd: pwd,
                        },
                        success: function(res) {
                            if (res == '') {
                                assist.showMsg('修改成功', 'success');
                                location.href = '/login';
                            } else {
                                assist.showMsg(res.message);
                            }
                        },
                        failure: function() {
                            assist.showMsg('修改失败', 'error');

                        }
                    })
                }
            });
        })
    </script>
</body>

</html>